.todolist {
  list-style: none;
  width: 500px;
  margin: 1em auto;
}

.todolist li{
  background: #f0f0f0;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  padding: 10px;
  margin-bottom: 10px;
}